/* Estilos principais do quiz */
.quiz {
  background-color: #1e1e1e;
  color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}

.return-button, .ranking-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff; /* Azul para botões */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-family: 'Poppins', sans-serif; /* Assegura consistência na fonte */
}

.return-button:hover, .ranking-button:hover {
  background-color: #0056b3; /* Azul mais escuro para o efeito de hover */
}

.question-section {
  margin-bottom: 20px;
}

.question-count {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #b3b3b3;
}

.question-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

.answer-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  margin: 20px auto;
  max-width: 410px;
  padding: 20px 40px;
  position: relative;
}

.answer-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-button:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Adiciona um efeito de zoom ao passar o mouse */
}

.answer-button.correct {
  background-color: green;
  color: white;
}

.answer-button.incorrect {
  background-color: red;
  color: white;
}

.score-section {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.quiz h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .quiz {
      padding: 20px;
      width: 90%;
  }

  .question-text {
      font-size: 1.2rem;
  }

  .answer-section {
      grid-template-columns: 1fr; /* Ajusta para uma coluna em dispositivos menores */
      max-width: none; /* Remove o limite de largura */
  }

  .answer-button {
      font-size: 0.9rem;
      padding: 8px;
  }
}

/* Estilos adicionais para o vídeo */
.video-container {
  margin: 20px 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

iframe {
  border: none;
  border-radius: 10px;
}

.progress-bar {
  width: 70%;
  height: 10px;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-appearance: none;
}

.progress-bar::-webkit-progress-bar {
  background-color: #f3f3f3;
  border-radius: 5px;
}

.progress-bar::-webkit-progress-value {
  background-color: #4caf50; /* Verde */
  border-radius: 5px;
}

.progress-bar::-moz-progress-bar {
  background-color: #4caf50; /* Verde */
}
